body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u186_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:367px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:367px;
}
#u188 {
  position:absolute;
  left:2px;
  top:176px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:-1px;
  top:357px;
}
#u189_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u189_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u193 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u194 {
  position:absolute;
  left:0px;
  top:41px;
  width:375px;
  height:70px;
}
#u195 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:210px;
}
#u196 {
  position:absolute;
  left:1px;
  top:109px;
  width:375px;
  height:210px;
}
#u197 {
  position:absolute;
  left:2px;
  top:97px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u189_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:393px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:393px;
}
#u199 {
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u200 {
  position:absolute;
  left:276px;
  top:591px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:0px;
  top:357px;
  width:184px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203 {
  position:absolute;
  left:184px;
  top:357px;
  width:191px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
}
#u204 {
  position:absolute;
  left:42px;
  top:32px;
  width:290px;
  height:31px;
}
#u205 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 56, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u206 {
  position:absolute;
  left:0px;
  top:23px;
  width:374px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u207 {
  position:absolute;
  left:2px;
  top:6px;
  width:370px;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi', '楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u208 {
  position:absolute;
  left:342px;
  top:25px;
  width:30px;
  height:30px;
  font-family:'KaiTi', '楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u209 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:0px;
  top:23px;
  width:351px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:48px;
}
#u211 {
  position:absolute;
  left:7px;
  top:152px;
  width:89px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:48px;
}
#u213 {
  position:absolute;
  left:283px;
  top:152px;
  width:89px;
  height:48px;
  color:#FFFFFF;
}
#u214 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u215 {
  position:absolute;
  left:258px;
  top:210px;
  width:25px;
  height:25px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
