body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u159 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
}
#u160 {
  position:absolute;
  left:11px;
  top:75px;
  width:188px;
  height:24px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:41px;
}
#u162 {
  position:absolute;
  left:5px;
  top:379px;
  width:367px;
  height:41px;
  font-size:16px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u164 {
  position:absolute;
  left:101px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u165 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u166 {
  position:absolute;
  left:191px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u168 {
  position:absolute;
  left:284px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u169 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u170 {
  position:absolute;
  left:1px;
  top:281px;
  width:375px;
  height:90px;
}
#u171 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:126px;
}
#u172 {
  position:absolute;
  left:5px;
  top:130px;
  width:360px;
  height:126px;
}
#u173 {
  position:absolute;
  left:2px;
  top:55px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:307px;
  top:16px;
  width:69px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u175 {
  position:absolute;
  left:14px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u175_img.mouseDown {
}
#u175.mouseDown {
}
#u175_img.selected {
}
#u175.selected {
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
