body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u114 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
}
#u115 {
  position:absolute;
  left:11px;
  top:75px;
  width:188px;
  height:24px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:41px;
}
#u117 {
  position:absolute;
  left:5px;
  top:379px;
  width:367px;
  height:41px;
  font-size:16px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u119 {
  position:absolute;
  left:14px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u119_img.mouseDown {
}
#u119.mouseDown {
}
#u119_img.selected {
}
#u119.selected {
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u121 {
  position:absolute;
  left:101px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:191px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:284px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:126px;
}
#u127 {
  position:absolute;
  left:5px;
  top:130px;
  width:360px;
  height:126px;
}
#u128 {
  position:absolute;
  left:2px;
  top:55px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:110px;
}
#u129 {
  position:absolute;
  left:130px;
  top:137px;
  width:229px;
  height:110px;
}
#u130 {
  position:absolute;
  left:2px;
  top:47px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
