body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u244 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_ann {
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
}
#u245 {
  position:absolute;
  left:11px;
  top:75px;
  width:188px;
  height:24px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:41px;
}
#u247 {
  position:absolute;
  left:5px;
  top:379px;
  width:367px;
  height:41px;
  font-size:16px;
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u247_ann {
  position:absolute;
  left:365px;
  top:375px;
  width:1px;
  height:1px;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(247, 57, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:14px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u249_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(247, 57, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 57, 136, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u249.mouseDown {
}
#u249_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(247, 57, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u249.selected {
}
#u250 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u249_ann {
  position:absolute;
  left:74px;
  top:65px;
  width:1px;
  height:1px;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u251 {
  position:absolute;
  left:101px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u252 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u253 {
  position:absolute;
  left:191px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u254 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u255 {
  position:absolute;
  left:284px;
  top:69px;
  width:67px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u256 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u257 {
  position:absolute;
  left:0px;
  top:259px;
  width:375px;
  height:42px;
}
#u258 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
